{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dd64c0f8b3.js"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon.png' %}">
    <title>Gerenciamento de Programas Sociais</title>
</head>

<body>
    <div id="main">
        <div class="row justify-content-center" style="margin-top: -2rem;">
            <div class="logo-site">
                <a href="#"><img src="{% static 'imgs/logo.png' %}" height="60"></a>
            </div>
            {% if form.errors %}
            <div class="row-fluid" id="erro_login">
               <h5 style="color: #8b0000;">Login ou Senha Inválido.<br><br></h5>
            </div>
           {% endif %}
            
            <div id="form">
                <form method="post" action=".?next={{ redirect_to }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome de usuário</label>
                        <input required type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu nome de usuário">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input required type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" id="entrar" class="botao btn-formulario  sag-button">ENTRAR</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>