{% extends 'menu.html' %}
{% load static %}


{% block title %}
Preferências do Usuário - Sistema de Gerenciamento de Programas Sociais
{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<link rel="stylesheet" href="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}">
<script type="text/javascript">

  $(document).ready(() => {
    $("#cep").mask('99999-999');
    $("#telefone").mask('(99) 99999-9999');
  });

  function limpa_formulário_cep() {
    //Limpa valores do formulário de cep.
    document.getElementById('rua').value = ("");
    document.getElementById('bairro').value = ("");
    document.getElementById('cidade').value = ("");
  }

  function meu_callback(conteudo) {
    if (!("erro" in conteudo)) {
      //Atualiza os campos com os valores.
      document.getElementById('rua').value = (conteudo.logradouro);
      document.getElementById('bairro').value = (conteudo.bairro);
      document.getElementById('cidade').value = (conteudo.localidade);
    } //end if.
    else {
      //CEP não Encontrado.
      limpa_formulário_cep();
      alert("CEP não encontrado.");
    }
  }

  function pesquisacep(valor) {

    //Nova variável "cep" somente com dígitos.
    var cep = valor.replace(/\D/g, '');

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

      //Expressão regular para validar o CEP.
      var validacep = /^[0-9]{8}$/;

      //Valida o formato do CEP.
      if (validacep.test(cep)) {

        //Preenche os campos com "..." enquanto consulta webservice.
        document.getElementById('rua').value = "...";
        document.getElementById('bairro').value = "...";
        document.getElementById('cidade').value = "...";

        //Cria um elemento javascript.
        var script = document.createElement('script');

        //Sincroniza com o callback.
        script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

        //Insere script no documento e carrega o conteúdo.
        document.body.appendChild(script);

      } //end if.
      else {
        //cep é inválido.
        limpa_formulário_cep();
        alert("Formato de CEP inválido.");
      }
    } //end if.
    else {
      //cep sem valor, limpa formulário.
      limpa_formulário_cep();
    }
  };

  window.onload = function () {
    document.getElementById('ifYes').style.display = 'none';
    document.getElementById('ifNo').style.display = 'none';
  }
  function yesnoCheck() {
    if (document.getElementById('usoMed').checked) {
      document.getElementById('simUsoMed').style.display = 'block';
    }
    if (document.getElementById('usoDepQuim').checked) {
      document.getElementById('simDepQuim').style.display = 'block';
    }
    if (document.getElementById('usoMedCtrl').checked) {
      document.getElementById('simUsoMedCtrl').style.display = 'block';
    }
  }


</script>

{% endblock %}

{% block content %}
<div class="titulo">
  <span>
    PREFERÊNCIAS
  </span>
</div>
<div class="sub-titulo">
  <span>
    Alterar senha
  </span>
  <hr style="background-color: lightgrey;">
</div>

<div class="contexto">
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4">Senha atual</label>
          <input type="password" class="form-control" id="inputEmail4" placeholder="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputPassword4">Senha nova (4 a 60 caracteres)</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputPassword4">Confirme a nova senha</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="">
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="form-group col-md-5">
          <button type="submit" class="btn btn-primary btn-block btn-large">Salvar</button>
        </div>
    </div>
  
</div>


</form>

{% endblock %}