{% extends 'menu.html' %}

{% block title %}
   Suporte - Sistema de Gerenciamento de Programas Sociais
{% endblock %}

{% block content %}
<div class="titulo">
    <span>
        SUPORTE
    </span>
</div>

<div class="contexto">
    <p>
        Manual de Utilização:
        <br><br>
        • Utilize "Cadastro" para realizar o cadastramento de uma pessoa, que participe de programas sociais.
        <br>
        • Utilize "Listar Cadastros" para listar as pessoas que participam dos programas sociais.
        <br>
        • Utilize "Suporte" para reportar algum poblema ou entrar em contato com a equipe de manutenção.
    </p>
</div>
</div>
</div>
</div>

{% endblock %}